In [2]:
import pandas as pd 
import numpy as np
import cufflinks as cf

In [3]:
%matplotlib inline

In [4]:
from plotly import __version__
from plotly.offline import download_plotlyjs, plot,iplot,init_notebook_mode

In [5]:
print(__version__)

3.10.0

In [6]:
init_notebook_mode(connected = True)

In [7]:
cf.go_offline()

In [8]:
df = pd.DataFrame(np.random.randn(100,4),columns=['A','B','C','D'])

In [10]:
df.head()

          A         B         C         D
0  1.771572  0.442520 -0.674160  0.366051
1  0.707897 -0.195632  1.526290 -0.354978
2  0.965654 -0.525482  1.016280 -0.516779
3 -0.598187 -0.604761 -0.414261  1.018659
4 -0.042311  1.313177  0.880985  0.184617

In [11]:
df2 = pd.DataFrame({'Category' : ['A','B','C'], 'Values' : [33,45,60] })

In [12]:
df2

  Category  Values
0        A      33
1        B      45
2        C      60